<div class="section">
    <h3>E. REKAPITULASI ABSENSI</h3>
    <table class="data-table">
      <thead>
        <tr>
          <th>Hadir</th>
          <th>Sakit</th>
          <th>Izin</th>
          <th>Alpha</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="center"><%= absensi.hadir || 0 %> hari</td>
          <td class="center"><%= absensi.sakit || 0 %> hari</td>
          <td class="center"><%= absensi.izin || 0 %> hari</td>
          <td class="center"><%= absensi.alpha || 0 %> hari</td>
        </tr>
      </tbody>
    </table>
  </div>