<div class="footer">
    <div class="signature-section">
      <p class="date">Garut, <%= tanggal_cetak %></p>
      <p class="role">Wali Kelas,</p>
      <br><br><br> 
      <p class="name"><%= guru.nama_lengkap %></p>
      <p class="nip">NIP. <%= guru.nip || '-' %></p>
    </div>
  </div>